.Profile {
    display: flex;
    align-items: center;

    margin-top: 1rem;
    border: 1px solid var(--color-scale-gray-5);
    border-radius: .7rem;
    padding: 1rem;
    & > img {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;

        @media only screen and (max-width: 411px) {
            width: 5rem;
            height: 5rem;
        }
    }

    &_info {
        margin-left: 2rem;

        &-name {
            font-size: 3.1rem;
            color: var(--color-scale-gray-0);

            @media only screen and (max-width: 411px) {
                font-size: 1.1rem;
            }
        }

        &-bio {
            font-size: 1rem;
            color: var(--color-scale-gray-1);
        }
    }

    &_subs {
        & > span {
            font-size: 1.1rem;
            color: var(--color-scale-gray-1);
        }
    }

    
}