
.Search_form {
    margin-top: 1rem;
    width: 100%;
    display: flex;


    & > input {
        width: 80%;
        padding: 1rem;
        outline: none;
        border: 1px solid var(--color-scale-gray-0);
        font-family: inherit;
        font-size: 1.2rem;
        border-radius: .7rem;
        background-color: transparent;
        color: var(--color-scale-gray-1);

        &::-webkit-input-placeholder { /* Edge */
          color: var(--color-scale-gray-3);
        }
          
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: var(--color-scale-gray-3);
        }
          
        &::placeholder {
            color: var(--color-scale-gray-3);
        }

        @media only screen and (max-width: 411px) {
            padding: .5rem;
            font-size: 1rem;
        }
    }

    & > button {
        width: 20%;
        outline: none;
        border: 1px solid #ccc;
        color: #fff;
        font-weight: 800;
        border-radius: .7rem;
        margin-left: .7rem;
        cursor: pointer;
        background-color: var(--color-scale-blue-8);
        transition: ease .4s;

        &:disabled {
            background-color: var(--color-scale-gray-3);
            opacity: .2;
            color: #ddd;
            cursor: not-allowed;
        }
    }
}