.App {
    width: 40%;
    margin: auto;

    & > .Search_form {
        display: flex;
        justify-content: center;
    }

    &_load-user {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
    }
}

.Search_form {
    margin-top: 6rem;
    width: 100%;
    display: flex;


    & > input {
        width: 80%;
        padding: 1rem;
        outline: none;
        border: 1px solid var(--color-scale-gray-0);
        font-family: inherit;
        font-size: 1.2rem;
        border-radius: .7rem;
    }

    & > button {
        width: 20%;
        outline: none;
        border: 1px solid #ccc;
        color: #fff;
        font-weight: 800;
        border-radius: .7rem;
        margin-left: .7rem;
        cursor: pointer;
        background-color: var(--color-scale-blue-8);
        transition: ease .4s;

        &:disabled {
            background-color: var(--color-scale-gray-3);
            opacity: .2;
            color: #ddd;
            cursor: not-allowed;
        }
    }
}

.Filter {
    margin-top: 1rem;
    & > select {
        padding: .5rem 1rem;
        outline: none;
        border: none;
        background-color: var(--color-scale-gray-3);
        font-size: 1.1rem;
        border-radius: .7rem;
    }
}
