.App {
    width: 60%;
    margin: auto;

    & > header {
        margin-top: 4rem;

        display: flex;
        justify-content: center;
        align-items: center;
        & > h1 {
            font-size: 3.2rem;
            color: var(--color-scale-gray-1);

            & > span {
                font-size: 2rem;
                color: var(--color-scale-gray-3);
            }

            @media only screen and (max-width: 58.75em) {
                font-size: 2rem;
            }
        }
    }

    & > .Search_form {
        display: flex;
        justify-content: center;
    }

    &_load-user {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
    }


    @media only screen and (max-width: 1200px) {
        width: 70%;
    }

    @media only screen and (max-width: 680px) {
        width: 90%;
    }

    @media only screen and (max-width: 411px) {
        width: 90%;
    }
    
}